@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
  --primary-color: hsl(354, 70%, 50%);
  --secondary-color: hsl(250, 50%, 12%);
  --primary-font-size: 1.2rem;
  --secondary-font-size: 1rem;
  --dropdown-arrow-size: 1.75rem;
  --width-dropdown-wrapper : 90%;
  --primary-flag-width: 2.5rem;
  --secondary-flag-width: 2rem;

}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  margin-right: 1.5rem;
}

span{
  text-align: left;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto", sans-serif;
}

.card {
  padding: 4rem 2rem;
  max-width: 400px;
  background: #e1e6e1;
  box-shadow: 0px 8px 16px 0px var(--secondary-color);
}

header {
  padding: 0 0.8rem 0.5rem 0.8rem;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#amount {
  width: 100%;
  border: none;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--primary-color);
  background: none;
}

#amount:focus {
  outline: none;
}

.exchange {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.exchange:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.dropdown {
  position: relative;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.25rem 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}

#from-currency,
#to-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--primary-font-size);
}

#from-currency img,
#to-currency img {
  width:var(--primary-flag-width)
}

.down-arrow {
  font-size: var(--dropdown-arrow-size);
  color: var(--primary-color);
}

.dropdown-wrapper {
  display: none;
  position: absolute;
  width: var(--width-dropdown-wrapper);
  left: 0;
  top: calc(var(--primary-font-size) + (2 * 0.5rem));
  z-index: 1;
  /* border: 1px solid blue; */
}

.show-dropdown {
  display: block;
}

.dropdown-content {
  margin: 1rem 0.3rem 0.5rem 0.3rem;
  max-height: 200px;
  background-color: hsl(120, 9%, 89%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25rem;
  border: none;
}

.dropdown-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: .5rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
  font-size: var(--secondary-font-size);
}

.dropdown-item img {
  width: var(--secondary-flag-width);
}

.dropdown-item:hover {
  background: hsl(120, 9%, 100%);
}

#convert-btn {
  display: block;
  background: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: honeydew;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 2rem 0;
}

#result {
  display: block;
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
}


@media only screen and (max-width: 420px) {
  .card{
    max-width:420px;
    height: 100%;
    display: grid;
    place-items: end center;
  }
  .dropdown{
    width:100%
  }
  
}